header {
  background-color: #ffffff00;
  text-align: right;
}

header img {
  height: 80px;
  /* top: 0px; */
  left: 10px;
  align-items: left;
  position: absolute;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  font-family: Poppins;
  color: #252525;

  /* cursor: none; */
}

html, body {
  height: 100%;
}
nav ul {
  list-style-type: none;
  padding: 0px 0; 
}
/* LINE 24: Adjust the padding to make the navbar bigger */
nav ul li {
  display: inline;
  margin-right: 30px;
  align-items: right;
}

nav a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s;
  font-size: 18px; /* Increase the font size if needed */
  font-family: 'Poppins';
}

nav a:hover {
  color: rgb(255, 30, 150);
}

/* WHITE SQUARE ON ABOUT ME PAGE */
.box {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 10px #ff78a9;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* FLOATING EYES */
.floating-image {
  animation: floatUpDown 2.5s infinite; /* Adjust the duration as needed */
  max-width: 4.5%;
  height: auto;
  margin: 20px;
}

/* Floating Icon & Home Button Movement*/
@keyframes floatUpDown {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(0px); /* Adjust the vertical movement distance */
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.floating-assets {
  animation: floatUpDown 2.75s infinite; /* Adjust the duration as needed */

}

/* LINKEDIN & IG ICONS ON NAV BAR */


.icons {
  /* position: relative; */
  /* bottom: 0px; */
  padding: 0px 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: right; /* Align items vertically centered */
  margin: 0px;

  position: fixed; /* or absolute, depending on your layout needs */
  bottom: 0px;
  width: 100%;
}


.social-icon,
.menu {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 10px 0;
  float: right;
  position: relative;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #232323;
  margin: 10px 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: rgb(255, 30, 150);

}

.menu__link {
  font-size: 1.2rem;
  color: #ff69b4;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.text-container {
font-size: 18px;
text-align: right;
margin: 20%;
max-width: 50%;
position: relative;
color: #252525;
font-family: 'Poppins';
line-height: 1.75;
}

/* Add this CSS in your stylesheet or in the head of your HTML document */

img.left-align {
  align-content: left;
  margin-right: 10px; /* Adjust the margin as needed */
  clear: both; /* Clear the float on smaller screens */
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media screen and (max-width: 50%) {
  img.left-align {
      float: none; /* Remove the float for smaller screens */
      margin-right: 0; /* Remove the margin for smaller screens */
  }
}

/* HEADER, PARAGRAPH  */
h1 {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 1.5rem; 
  text-align: left; 
  line-height: 1.25; 
  position: relative;
  margin: 50px 50px;
  /* padding: 30px 30px; */

}

h2 {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 1.15rem; 
  text-align: left; 
  line-height: 1.25; 
  position: relative;
  margin: 20px 50px 50px 50px;
  /* padding: 30px 30px; */
}

p {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 1.0rem; 
  text-align: left; 
  line-height: 1.75; 
  position: relative;
  margin: 0px 50px 0px 50px;
}


/* FOOTER
------------------------------------*/
footer {
  position: fixed; /* or absolute, depending on your layout needs */
  bottom: 0px;
  width: 100%;
  height: 8vh;
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 1.0rem; 
  text-align: left; 
  line-height: 1.75; 
  /* padding: 10px 0px 10px 0px; */
  margin: 8px 8px;
  align-items: right;
}



.socials {
  list-style-type: none;
  margin: 15px 15px;
}
.socials li {
  display: inline-block;
  /* margin-left: 10px; */
  margin: 15px 15px;

}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 0.5;
}

/* RESUME
------------------------------------*/
.resume header::before {
  background: url(../images/bg-home-office-studio.jpg) center;
  background-size: cover;
  content: "";
  display: block;
  height: 375px;
}
.resume-section {
  margin-bottom: 50px;
  line-height: 1.5;
}
.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}
.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 1.5rem;
}
@media screen and (max-width: 1200px){
  .download-link {
      position: absolute;
  }
}
@media screen and (max-width: 500px){
  .resume header::before {
      height: 200px;
  }
  h1 {
      font-size: 5rem;
  }
  h2 {
      font-size: 2.6rem;
  }
}


/* Projects
------------------------------------*/
.project-item {
  margin: 20px 30px;
  /* padding: 30px 30px;  */
}
.project-item img {
  /* width: 300px; */
  max-width: 50%;
  margin: 30px 30px;
  /* padding: 30px 30px; */
}

@media screen and (min-width:860px) {
  .project-item {
      display: flow-root;
  }
  .project-item img {
      float: left;
      margin-right: 20px;
  }
}
@media screen and (min-width:650px) and (max-width:859px) {
  .project-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
  }
  .project-item img {
      width: 100%;
  }
}
@media screen and (max-width:500px){
  .project-item img {
      width: 100%;
      margin-bottom: 10px;
  }
}

/* Work Experience
------------------------------------*/
.work-item {
  margin: 30px 0;
}
.work-details p {
  margin: 0;
}

@media screen and (min-width: 860px) {
  .work-item {
      display: grid;
      grid-template-columns: 300px 1fr;
      column-gap: 20px;
  }
  .work-summary p:first-child {
      margin-top: 0;
  }
}


.ease-in-text {
  animation: Slide_Up 1.5s ease;

}
  @keyframes Slide_Up{
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes Slide_Left{
  0%{
      transform: translateX(300px);
  }
  100%{
      transform: translateX(0);
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  margin: 0px 50px 20px 50px;
  padding: 20px 20px;
  position: relative;
  justify-content: left;
  align-items: left;
  text-align: left;
  background-color: #f8dbe6;
  border-radius: 20px;
  line-height: 1.0;
  float: left;
  animation: Slide_Left 1.5s ease;
  max-width: 75%;
}
.about-text {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 1.0rem; 
  text-align: left; 
  line-height: 1.75; 
  position: relative;
  margin: 20px 20px;
  max-width: 50%;
  max-height: 80%;
}

.about-headshot {
  min-width: 10%;
  max-width: 30%;
  min-height:10%;
  max-height:40%;
  width: auto;
  height: auto; /* maintain aspect ratio */
  border-radius: 20px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

/* RESUME
------------------------------------*/
.resume header::before {
  background: url(../images/bg-home-office-studio.jpg) center;
  background-size: cover;
  content: "";
  display: block;
  height: 375px;
}
.resume-section {
  margin-bottom: 50px;
}
.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}

/* Projects
------------------------------------*/
.project-item {
  margin: 30px 0;
}
.project-item img {
  width: 300px;
  margin: 0px 50px;
  border-radius: 20px;

}
@media screen and (min-width:860px) {
  .project-item {
      display: flow-root;
  }
  .project-item img {
    float: left;
    margin: 0px 20px 0px 20px;
    /* margin-right: 10px 0px; */

  }
}
@media screen and (min-width:650px) and (max-width:859px) {
  .project-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
  }
  .project-item img {
      width: 100%;
      border-radius: 20px;
  }
}
@media screen and (max-width:500px){
  .project-item img {
      width: 100%;
      margin-bottom: 10px;
  }
}

/* Education
------------------------------------*/
.education-item {
  margin: 30px 0;
}
.education-item p {
  margin: 0;
}

/* CUSTOM CURSOR  */
/* .custom-cursor {
  position: fixed;
  width: 60px;
  height: 50px; 
  background-image: url('Eyes.png'); 
  background-size: cover;
  z-index: 9999; 
  pointer-events: none;
} */

.design-container {
  display: flex;
  flex-direction: row;
  margin: 0px 30px 0px 30px;
  padding: 20px;
  position: relative;
  justify-content: left;
  align-items: left;
  text-align: left;
  border-radius: 20px;
  line-height: 1.0;
  float: left;
  animation: Slide_Up 1.5s ease;
  max-width: 50%;
  max-height: 100%;
}

.list-css {
  font-size: 1.0rem; 
  margin: 20px 50px 20px 50px;
  text-align: left;
}