header {
  background-color: #ffff;
  text-align: right;
}

header img {
  height: 80px;
  /* top: 0px; */
  left: 10px;
  align-items: left;
  position: absolute;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  font-family: Poppins;
  color: #252525;
}

nav ul {
  list-style-type: none;
  padding: 0px 0; 
}
/* LINE 24: Adjust the padding to make the navbar bigger */
nav ul li {
  display: inline;
  margin-right: 30px;
  align-items: right;
}

nav a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s;
  font-size: 18px; /* Increase the font size if needed */
  font-family: 'Poppins';
}

nav a:hover {
  color: rgb(255, 30, 150);
}

/* WHITE SQUARE ON ABOUT ME PAGE */
.box {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 120, 169);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* FLOATING EYES */
.floating-image {
  animation: floatUpDown 2.5s infinite; /* Adjust the duration as needed */
  padding-left: 60px;
  max-width: 10%;
  height: auto;
}

/* Floating Icon & Home Button Movement*/
@keyframes floatUpDown {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(0px); /* Adjust the vertical movement distance */
  }
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.floating-assets {
  animation: floatUpDown 2.75s infinite; /* Adjust the duration as needed */

}

/* LINKEDIN & IG ICONS ON NAV BAR */
.icons {
  position: absolute;
  top: 40px;
  right: 0px;
  display: flex;
  align-items: right;
  margin: 20px;
}

.social-icon,
.menu {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 10px 0;
  float: right;
  position: relative;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #232323;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: rgb(255, 30, 150);

}

.menu__link {
  font-size: 1.2rem;
  color: #ff69b4;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.text-container {
font-size: 18px;
text-align: right;
margin: 20%;
max-width: 50%;
position: relative;
color: #252525;
font-family: 'Poppins';
line-height: 1.75;
}

/* Add this CSS in your stylesheet or in the head of your HTML document */

img.left-align {
  align-content: left;
  margin-right: 10px; /* Adjust the margin as needed */
  clear: both; /* Clear the float on smaller screens */
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media screen and (max-width: 50%) {
  img.left-align {
      float: none; /* Remove the float for smaller screens */
      margin-right: 0; /* Remove the margin for smaller screens */
  }
}


h1 {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 40px; 
  text-align: left; 
  line-height: 1.25; 
  position: relative;
  padding: 25px;
}

p {
  font-family: 'Poppins'; 
  color: #232323; 
  font-size: 18px; 
  text-align: left; 
  line-height: 1.25; 
  position: relative;
  padding: 25px;

}

footer {
  background-color: #faafd5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  border-bottom-style: ;
  min-height: 10vh;
}